<a href="https://colab.research.google.com/github/surendraadari/PYTHONNEW/blob/MODULE-5/math_lib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# data of the student
import pandas as pd
import numpy as np
a=[1,5,7,4]
b={1:56,2:78,3:44}
d=[[1,'aaa'],[2,'bbb'],[3,'ccc']]
c=pd.DataFrame(d,columns=['Rollno','Name'],index=['a','b','c'])
print(c)
t={'Rollno':[1,2,3,4],'Name':['wer','tyu','uio','poi']}
c=pd.DataFrame(t,index=['a','b','c','d'])
print(c)

   Rollno Name
a       1  aaa
b       2  bbb
c       3  ccc
   Rollno Name
a       1  wer
b       2  tyu
c       3  uio
d       4  poi

In [4]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)
# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print(df)
# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [5]:
import pandas as pd
n=[['name','no'],['surendra',12,96],['kalyan',45]]
s=[['kumari',66],['sai',26,88]]
df = pd.DataFrame(n,columns=['Name','Age','Marks'])

df1 = pd.DataFrame(s,columns=['Name','Age','Marks'])
df=df.append(df1)
print (df)

       Name Age  Marks
0      name  no    NaN
1  surendra  12   96.0
2    kalyan  45    NaN
0    kumari  66    NaN
1       sai  26   88.0